<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
<script>
  var myApp2 = angular.module('myApp2', []);

  myApp2.controller("BreweriesController", function ($scope, $http) {
    $http.get('breweries.json').success( function(data, status, headers, config) {
      $scope.breweries = data;
    });

    $scope.order = 'name';

    $scope.sort_by = function (order){
      $scope.order = order;
    }

    $scope.searchText = '';

  });
</script>

<h2>Breweries</h2>

<div ng-app="myApp2" ng-controller="BreweriesController">

  search:  <input ng-model="searchText">

  <table class="table table-hover">
    <thead>
    <th> <a href="#" ng-click="sort_by('name')">name</a> </th>
    <th> <a href="#" ng-click="sort_by('year')">year</a> </th>
    <th> <a href="#" ng-click="sort_by('count_beers')">beer count</a> </th>
    </thead>
    <tr ng-repeat="brewery in breweries| orderBy:order | filter:searchText">
      <td>{{brewery.name}}</td>
      <td>{{brewery.year}}</td>
      <td>{{brewery.count_beers}}</td>
    </tr>
  </table>

</div>

